<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    先创建两个bean，在产生关联-->

    <bean id="UserBean1" class="com.hyw.mytest.bean.dao.UserBean"/>

    <bean id="UserService1" class="com.hyw.mytest.bean.service.UserService" >
<!--        通过该属性推断出setter方法名，然后注入-->
        <property name="userBean" ref="UserBean1"/>
    </bean>


    <bean id="ConstructBean1" class="com.hyw.mytest.bean.dao.ConstructBean"/>

    <bean id="ConstructService1" class="com.hyw.mytest.bean.service.ConstructService">
        <constructor-arg index="0" ref="ConstructBean1"/>
    </bean>

    <bean id="SimpleBean1" class="com.hyw.mytest.bean.dao.SimpleBean"/>
    <bean id="SimpleService1" class="com.hyw.mytest.bean.service.SimpleService">
        <property name="id" value="20"/>
        <property name="name" value="hello"/>
    </bean>

    <bean id="ListDIService" class="com.hyw.mytest.bean.service.ListDIService">
        <property name="lists">
            <list>
                <value>hello</value>
                <value>hello2</value>
                <value>hello</value>
                <value>hello23</value>
                <value>hello2</value>
            </list>
        </property>
    </bean>

    <bean id="ArrayService" class="com.hyw.mytest.bean.service.ArrayService">
        <property name="strings">
            <array>
                <value>hello1</value>
                <value>hello3</value>
                <value>hello4</value>
                <value>hello2</value>
                <value>hello3</value>
                <value>hello1</value>
            </array>
        </property>
    </bean>

    <bean id="SetService" class="com.hyw.mytest.bean.service.SetService">
        <property name="sets">
            <set>
                <value>hello</value>
                <value>hello2</value>
                <value>hellow</value>
                <value>hello3e4</value>
                <value>hello5</value>
                <value>hello5</value>
                <value>hello</value>
            </set>
        </property>
    </bean>

    <bean id="MapService" class="com.hyw.mytest.bean.service.MapService">
        <property name="maps">
            <map>
                <entry key="s" value="s"/>
                <entry key="m" value="m"/>
            </map>
        </property>
    </bean>

</beans>