<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    开启日志-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>



<!--    &lt;!&ndash;    多环境environments&ndash;&gt;-->
<!--    <environments default="development">-->
<!--        &lt;!&ndash;        环境1&ndash;&gt;-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            &lt;!&ndash;            mybatis框架自带的连接池&ndash;&gt;-->
<!--            <dataSource type="POOLED">-->
<!--                &lt;!&ndash;                连接池的配置信息&ndash;&gt;-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/XXXkuname"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="1234"/>-->
<!--            </dataSource>-->
<!--        </environment>-->

<!--    </environments>-->

    <mappers>
        <!--        其中一个sqlMapper.xml配置路径-->
        <!--        mapper从根目录(resources)开始找-->
<!--        <mapper resource="xxxMapper.xml"/>-->
        <package name="com.hyw.mytest.mapper"/>
    </mappers>
</configuration>